.continer {
    background-color: white;
    width: fit-content;
    padding: 16.25px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 45px;
}


.inner-continer {
    background-color: transparent; /* Adjust as needed */
    padding: 1.5px;
    border-radius: 20px; /* Adjust as needed */
    display: flex; /* Adjust as needed */
    justify-content: space-between; /* Adjust as needed */
    }


.bt {
    display: flex;
    align-items: center;
    padding: 3.5px;
    border: 9px solid transparent;
    background-color: #dadee9;
    color: #333;
    font-weight: medium;
    text-decoration: none;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 10px;



    &:hover {
        border-color: #ddd; /* Adjust as needed */
        background-color: #e4e8ee; /* Adjust as needed */
    }
}


.dassh {
  margin: auto 377px;
  margin-top: 37px;
  margin-bottom: -30px;
}

.progress-section {
    width: 100%;
    max-width: 88vw;
    border-radius: 40px;
    background: #ffffff;
    padding: 2rem 1rem;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 0px #0000001f;
    margin-top: 63px;
}
  

    .title {
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 20px;
    }
    .task-progress {
      margin: 1.5rem 0;
    }
  
    .task-progress p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #525252;
        font-size: 1.93rem;
    }
  
    span {
      color: #525252;
    }
  
    .progress-section
    .progress {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 5px;
        height: 1rem;
    }
  
    .progress::-webkit-progress-bar {
      background-color: #f0f0f0;
    }
  
    .progress::-webkit-progress-bar,
    .progress::-webkit-progress-value {
      border-radius: 10px;
    }
  
    .progress::-moz-progress-bar {
      border-radius: 10px;
    }
  
    .progress1::-webkit-progress-value {
      background: #185ee2;
    }
  
    .progress2::-webkit-progress-value {
      background: #ffb453;
    }
  
    .progress3::-webkit-progress-value {
      background: #18e23c;
    }


@media (max-width: 600px) {
    .dassh {
      margin: auto 104px;
      margin-top: 37px;
      margin-bottom: -34px;
  }
}
