.line-icons-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: relative;
}


.related-terms,
.example-sentences {
    margin-top: 20px; /* Add spacing between sections */
}

.related-terms h3,
.example-sentences h3 {
    font-size: 18px;
}




.related-terms-list {
    margin-top: 0px;
    white-space: nowrap;
}



/* Style for the example sentences section */
.example-sentences {
    margin-top: 0px;
}

/* Style for the language labels */
.language-label {
    color: #000;
    margin: 3px;
}

/* Style for each sentence container */
.sentence {
    border-radius: 7px;
    padding: 24px;
    margin-bottom: 0px;
    border-radius: 14px;
    background-color: rgb(255 255 255 / 77%);
    text-align: justify;
}

/* Style for English sentence */
.english-sentence {
    color: #ee5858;
}

/* Style for French sentence */
.french-sentence {
    color: #ee5858; /* Blue color for French */
}



.separator {
    border: none;
    height: 1px;
    background-color: #9d9abd;
    margin: 2px 0;
}


.title-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
  
.title-item {
    display: flex; /* Wrap icon and text together */
    align-items: center; /* Vertically align content */
    padding: 10px; /* Add some padding for visual separation */
    border: 1px solid #ddd; /* Add optional border for clarity */
    border-radius: 4px; /* Add rounded corners */
 }

.title-item:not(:first-child) {
    margin-left: 20px; /* Space between items */
}



.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}