<!-- new_page.html -->
{% extends "nav.html" %}

{% block content %}      
    <!----======== CSS ======== -->
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      </head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/dash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">

    <div class="dassh">
      <h1>DASHBOARD</h1>
    </div>
    <div class="continer">

        <div class="inner-continer">
            
          <a href="/db/speak" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/25/voice-recorder.png" alt="voice-recorder"/>
          </a>
          <a href="/db/write" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/material-sharp/25/keyboard.png" alt="keyboard"/>
          </a>
          <a href="/db/suggest" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/external-victoruler-solid-victoruler/25/external-suggestion-business-and-finance-victoruler-solid-victoruler.png" alt=""/>
          </a>
          
        </div>
    </div>
    



    <div class="cd">
   
      <div class="c">
          <div class="cd__indicator"><span class="cd__indicator-amount">135</span> / <span class="cd__indicator-percentage">5million Words</span></div>
          <div class="cd__progress">
              <progress value="75" max="5000000"></progress>
          </div>
      </div>
      
      <div class="c">
          <div class="cd__indicator"><span class="cd__indicator-amount">500000</span>  / <span class="cd__indicator-percentage">5million Words</span></div>
          <div class="cd__progress">
              <progress value="75" max="5000000"></progress>
          </div>
      </div>
  
      <div class="c">
          <div class="cd__indicator"><span class="cd__indicator-amount">10000</span> / <span class="cd__indicator-percentage">600,000 Audio Recorded</span></div>
          <div class="cd__progress">
              <progress value="75" max="600000"></progress>
          </div>
      </div>
  
  
  </div>






{% endblock %}