<!-- new_page.html -->
{% extends "nav.html" %}

{% block content %}      
    <!----======== CSS ======== -->
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      </head>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/dash.css') }}">

    <div class="continer">
        <div class="inner-continer">
            
          <a href="/db/speak" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/25/voice-recorder.png" alt="voice-recorder"/>
          </a>
          <a href="/db/write" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/material-sharp/25/keyboard.png" alt="keyboard"/>
          </a>
          <a href="/db/suggest" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/external-victoruler-solid-victoruler/25/external-suggestion-business-and-finance-victoruler-solid-victoruler.png" alt=""/>
          </a>
          
        </div>
    </div>
    

    <div class="dassh">
        <h1>DASHBOARD</h1>
    </div>

    <div class="progress-section" data-aos="fade-left" data-aos-once="true">
   
        <div class="task-progress">
          <p>Audio Data
            <span>250k/5m</span>
          </p>
          <progress class="progress progress1" max="5000000" value="250000"></progress>
        </div>
        <div class="task-progress">
          <p>Text Data
            <span>100k/5m</span>
          </p>
          <progress class="progress progress3" max="5000000" value="100000"></progress>
        </div>
      </div>






{% endblock %}