<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <meta name="title" content="">
    <meta name="description" content="">

    
    <!--<link rel="icon" type="image/png" href="{{ url_for('static', path='/icons/icon.png') }}" />-->    
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">

    <title>SNEAKERS TRY ON</title>
</head>

<body>
    <div class="container">

        <div class="fielded">
            <div class="field2">
                <h1 class="Word">black</h1>
                <audio src="" class="phonetics-audio"></audio>
                <i class="fas fa-volume-up i"></i>
            </div>
            <h4 class="phonetic-text">noun: /blak/</h4>
            
            <div class="field3">
                <p class="definition">The colour/color perceived in the absence of light, but also when no light is reflected, but rather absorbed.</p>
            </div>        
            <!-- Horizontal Line in Front of H3 and Icons8 Plus Icon -->
            <div class="line-icons-container">
                <h2>Example Sentences</h2>
                <hr class="horizontal-line">
                <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/plus--v2.png" alt="plus--v2" class="plus-icon"/>
            </div>            
            <!-- Example Sentences -->
            <div class="example-sentences">
                <div class="english-sentence">
                    <p>Example sentence in English.</p>
                </div>
                <div class="french-sentence">
                    <p>Example sentence in French.</p>
                </div>
            </div>
            <!-- Related Terms -->
            <!-- Related Terms -->
            <div class="related-terms">
                <h2>Related Terms</h2>
                <p class="related-terms-list">Come, Load, Head</p>
            </div>     
            <div class="separator"></div>
        </div>

        <div class="fielded">
            <div class="field2">
                <h1 class="Word">black</h1>
                <audio src="" class="phonetics-audio"></audio>
                <i class="fas fa-volume-up i"></i>
            </div>
            <h4 class="phonetic-text">noun: /blak/</h4>
            
            <div class="field3">
                <p class="definition">The colour/color perceived in the absence of light, but also when no light is reflected, but rather absorbed.</p>
            </div>        
            <!-- Horizontal Line in Front of H3 and Icons8 Plus Icon -->
            <div class="line-icons-container">
                <h2>Example Sentences</h2>
                <hr class="horizontal-line">
                <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/plus--v2.png" alt="plus--v2" class="plus-icon"/>
            </div>            
            <!-- Example Sentences -->
            <div class="example-sentences">
                <div class="english-sentence">
                    <p>Example sentence in English.</p>
                </div>
                <div class="french-sentence">
                    <p>Example sentence in French.</p>
                </div>
            </div>
            <!-- Related Terms -->
            <!-- Related Terms -->
            <div class="related-terms">
                <h2>Related Terms</h2>
                <p class="related-terms-list">Come, Load, Head</p>
            </div>     
            <div class="separator"></div>
        </div>


        <div class="fielded">
            <div class="field2">
                <h1 class="Word">black</h1>
                <audio src="" class="phonetics-audio"></audio>
                <i class="fas fa-volume-up i"></i>
            </div>
            <h4 class="phonetic-text">noun: /blak/</h4>
            
            <div class="field3">
                <p class="definition">The colour/color perceived in the absence of light, but also when no light is reflected, but rather absorbed.</p>
            </div>        
            <!-- Horizontal Line in Front of H3 and Icons8 Plus Icon -->
            <div class="line-icons-container">
                <h2>Example Sentences</h2>
                <hr class="horizontal-line">
                <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/plus--v2.png" alt="plus--v2" class="plus-icon"/>
            </div>            
            <!-- Example Sentences -->
            <div class="example-sentences">
                <div class="english-sentence">
                    <p>Example sentence in English.</p>
                </div>
                <div class="french-sentence">
                    <p>Example sentence in French.</p>
                </div>
            </div>
            <!-- Related Terms -->
            <!-- Related Terms -->
            <div class="related-terms">
                <h2>Related Terms</h2>
                <p class="related-terms-list">Come, Load, Head</p>
            </div>     
            <div class="separator"></div>
        </div>



        

    </div>



    
    

</body>
</html>



