
<body>

<div dir="auto" class="sc-1v1crxt-5 bMjEBT">
    <input dir="auto" 
        enterkeyhint="send" 
        type="text" 
        data-testid="typing-response-input" 
        spellcheck="false" autocapitalize="off" 
        autocomplete="off" autocorrect="off" 
        class="sc-1v1crxt-4 eoydEB" value="">
</div>

<div class="sc-1v1crxt-1 jDkkcD">


    <div class="sc-1v1crxt-2 ftglNV">
        <button data-testid="typing-response-á-0" class="sc-xix3gw-0 kngrRb">á</button>
        <button data-testid="typing-response-à-1" class="sc-xix3gw-0 kngrRb">à</button>
        <button data-testid="typing-response-é-2" class="sc-xix3gw-0 kngrRb">é</button>
        <button data-testid="typing-response-è-3" class="sc-xix3gw-0 kngrRb">è</button>
        <button data-testid="typing-response-ẹ-4" class="sc-xix3gw-0 kngrRb">ẹ</button>
        <button data-testid="typing-response-ẹ́-5" class="sc-xix3gw-0 kngrRb">ẹ</button>
        <button data-testid="typing-response-ẹ-6" class="sc-xix3gw-0 kngrRb">ẹ</button>
        <button data-testid="typing-response-̀-7" class="sc-xix3gw-0 kngrRb">̀</button>
        <button data-testid="typing-response-í-8" class="sc-xix3gw-0 kngrRb">í</button>
        <button data-testid="typing-response-ì-9" class="sc-xix3gw-0 kngrRb">ì</button>
        <button data-testid="typing-response-ó-10" class="sc-xix3gw-0 kngrRb">ó</button>
        <button data-testid="typing-response-ò-11" class="sc-xix3gw-0 kngrRb">ò</button>
        <button data-testid="typing-response-ọ-12" class="sc-xix3gw-0 kngrRb">ọ</button>
        <button data-testid="typing-response-ọ́-13" class="sc-xix3gw-0 kngrRb">ọ</button>
        <button data-testid="typing-response-ọ-14" class="sc-xix3gw-0 kngrRb">ọ</button>
        <button data-testid="typing-response-̀-15" class="sc-xix3gw-0 kngrRb">̀</button>
        <button data-testid="typing-response-ú-16" class="sc-xix3gw-0 kngrRb">ú</button>
        <button data-testid="typing-response-ù-17" class="sc-xix3gw-0 kngrRb">ù</button>
        <button data-testid="typing-response-ṣ-18" class="sc-xix3gw-0 kngrRb">ṣ</button>
    </div>
</div>


<style>
.ftglNV {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px 0px 0.25rem;
    margin-top: -1rem;
    margin-inline: -0.5rem;
}

.ftglNV > * {
    margin-top: 1rem;
    margin-inline: 0.5rem;
}

.jDkkcD {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.jDkkcD {
    display: flex;
    width: 100%;
    justify-content: center;
    
}


.kngrRb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.25rem;
    width: 3rem;
    height: 3rem;
    color: rgb(41, 55, 73);
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid rgb(188, 194, 207);
    box-shadow: rgb(188, 194, 207) 0px 4px 0px;
    border-radius: 1rem;
}

button {
    font-family: inherit;
    color: rgb(0, 17, 34);
}

@media (max-width: 50rem)
.jDkkcD {
    flex-flow: column-reverse wrap;
}


</style>
</body>
