<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <meta name="title" content="">
    <meta name="description" content="">
    <link href="{{ url_for('static', path='/css/nav.css') }}" rel="stylesheet">

    <!-- Include your custom favicon -->
    <link rel="icon" href="{{ url_for('static', path='/img/iko.png') }}" type="image/x-icon">



    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/search.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/voice.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/exsent.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/sign.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/password.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/profile.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/drpn.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/cuard.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/spin.css') }}" rel="stylesheet">



    <title>iko-ibibio</title>
</head>







<!-- Register Popup -->
<div id="registerPopup" class="popup">

    <div class="form-box">
        <form class="form" action="/signup" method="post" id="signupForm">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                <input type="text" class="input" placeholder="Full Name" name="full_name">
                <input type="email" class="input" placeholder="Email" name="email">
                <div class="password-input">
                    <input type="password" class="input" id="password" placeholder="Password" name="password">
                    <span class="show-password" onclick="togglePasswordVisibility()">
                        <i class="fas fa-eye"></i>
                    </span>
                </div>
                <div id="password-check">
                    <div class="check-item" id="lower-upper-case"><i class="fas fa-check"></i> Lowercase & Uppercase</div>
                    <div class="check-item" id="one-number"><i class="fas fa-check"></i> Number (0-9)</div>
                    <div class="check-item" id="one-special-char"><i class="fas fa-check"></i> Special Character (!@#$%^&*)</div>
                    <div class="check-item" id="eight-character"><i class="fas fa-check"></i> At least 8 Character</div>
                </div>
            </div>
            <button type="submit">Sign up</button>
        </form>
        <div class="form-section">
            <p>Already have an account? <a href="#" onclick="toggleLoginPopup()">Sign in</a></p>
        </div>
    </div>
</div>


<!-- Login Popup -->
<div id="loginPopup" class="loginpopup">
    <div class="form-box">
        <form class="form" action="/login" method="post">
            <span class="title">Welcome back</span>
            <span class="subtitle">Sign in to continue</span>
            <div class="form-container">
              <input type="email" class="input" placeholder="Email" name="email">
              <input type="password" class="input" placeholder="Password" name="password">
              <div class="pass-link"><a href="#">Forgot password?</a></div>
            </div>
            <button>Sign in</button>
        </form>
        <div class="form-section">
            <p>Don't have an account? <a href="#" onclick="toggleSignupPopup()">Sign up</a></p>
        </div>
    </div>

</div>

<!-- Overlay -->
<div id="overlay" class="overlay"></div>

<header id="nav-menu" aria-label="navigation bar">
  <div class="container">
    <div class="nav-start">
      <a class="logo" href="/">
        <img
          src="{{ url_for('static', path='img/wiko.png')}}"
          width="140"
          height="140"
          alt="Inc Logo"
        />
      </a>
      <nav class="menu">
        <ul class="menu-bar">

            <li>
              <button
                class="nav-link dropdown-btn"
                data-dropdown="dropdown1"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="browse"
              >
                Contribute
                <i class="bx bx-chevron-down" aria-hidden="true"></i>
              </button>
              <div id="dropdown1" class="dropdown">
                <ul role="menu">
                  <li role="menuitem">
                    <a class="dropdown-link" href="/record">
                        <img class="icon" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/audio-wave--v1.png" alt="audio-wave--v1"/>
                      <div>
                        <span class="dropdown-link-title"
                          >Record Voice</span
                        >
                        <p>Contribute Native Voice</p>
                      </div>
                    </a>
                  </li>

                  <li role="menuitem">
                    <a class="dropdown-link" href="/write">
                        <img class="icon" width="32" height="32" src="https://img.icons8.com/external-anggara-glyph-anggara-putra/32/external-write-email-interface-anggara-glyph-anggara-putra.png" alt="external-write-email-interface-anggara-glyph-anggara-putra"/>
                      <div>
                        <span class="dropdown-link-title">Ibibio</span>
                        <p>Contribute Ibibio<->English Words</p>
                      </div>
                    </a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-link" href="/suggest">
                        <img class="icon" width="38" height="38" src="https://img.icons8.com/ios-filled/38/audio-wave--v1.png" alt="audio-wave--v1"/>                      <div>
                        <span class="dropdown-link-title">English</span>
                        <p>Contribute English<->Ibibio </p>
                      </div>
                    </a>
                  </li>
                </ul>

              </div>
            </li>
            <li><a class="nav-link" href="/dict">Dictionary</a></li>
            <li><a class="nav-link" href="/gpt">Translate</a></li>
            <li><a class="nav-link" href="/pronouce">Pronounce</a></li>
            <li><a class="nav-link" href="/about">About</a></li>
            <li>
                <button class="nav-link dropdown-btn" data-dropdown="dropdown2" aria-haspopup="true" aria-expanded="false" aria-label="discover">
                    Account <i class="bx bx-chevron-down" aria-hidden="true"></i>
                </button>
                <div id="dropdown2" class="dropdown">
                    <ul role="menu">
                        <a href="#" class="bu3tton" id="registerButton">Register</a>
                        <a href="#" class="bu3tton" id="loginButton">Login</a>
                    </ul>                
                </div>
            </li>
          

        </ul>
      </nav>
    </div>
    <div class="nav-end">
      <div class="right-container">

      </div>

      </div>


      <button
        id="hamburger"
        aria-label="hamburger"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="bx bx-menu" aria-hidden="true"></i>
      </button>

      
    </div>
  </div>
</header>



  <!-- Page markup: Not important -->
  <main >

    <div id="content">
        {% block content %}

        <div class="search-center-container">
            <div class="search-container">
                <form class="search-box" action="/find" method="get" id="s-f">
                    <img width="28" height="28" src="https://img.icons8.com/ios/28/search--v1.png" alt="search--v1" />
                    <input type="search" name="query" id="search-input" placeholder="Search..." required>
                    <button type="submit" class="hidden-submit"></button>
                </form>
            </div>
        </div>





        <!--<input type="text" id="textInput" placeholder="Enter text...">
        <img id="speakerIcon" class="static" src="{{ url_for('static', path='img/play.png')}}" alt="microphone">
      
        <img id="speakerIcon" class="static" width="30" height="30" src="https://img.icons8.com/ios-filled/30/high-volume--v2.png">
  -->
        <div class="cdiv">
            {% if results %}
                {% for result in results %}
                    <div class="cad">
                        <div class="headar">
                            <h1 class="Word">{{ result['term'] }}</h1>
                            <div class="icons">
                                <audio class="phonetics-audio"></audio>
                                <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/high-volume--v2.png" alt="high-volume--v2" class="icon speakerIcon" data-term="{{ result['term'] }}">
                                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/pencil-tip.png" alt="Microphone Icon" class="icon" onclick="toggleEditForm()">                              
                            </div>
                        </div>
                        <h2 class="noun">{{ result['pos'] }}</h3>
                        <div class="contint">
                            {% for definition in result['definitions'] %}
                                <div class="definition">
                                    <p>{{ loop.index }}. {{ definition }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="suntences">
                            <h2 class="example-suntences">Example Sentences</h2>
                            <p>1.sum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <h3 class="relateed-teurms">Related Terms</h2>
                        <div class="teurms">
                            {% if result['related_terms'] %}
                                {% for term in result['related_terms'].split(', ') %}
                                    <a href="/find?query={{ term }}" class="teurm">{{ term }}</a>{% if not loop.last %} {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
               <p></p>
            {% endif %}

            <div id="editForm" class="popup-form" style="display: none;">
                <h2>Edit Dictionary Entry</h2>
                <form id="editDictionaryForm" onsubmit="saveContent(); return false;">
                    <!-- ... form fields ... -->
                    <label for="editedTerm">Term:</label>
                    <input type="text" id="editedTerm" value="ufiin">
            
                    <label for="editedPos">Part of Speech:</label>
                    <input type="text" id="editedPos" value="noun">
            
                    <label for="editedDefinitions">Definitions:</label>
                    <div id="definitionsContainer">
                        <textarea class="definitionInput" placeholder="1. Left (direction)."></textarea>
                        <button type="button" onclick="addInput('definitionsContainer')">+</button>
                    </div>
            
                    <label for="editedEnglishSentence">English Sentence:</label>
                    <div id="englishSentencesContainer">
                        <textarea class="englishSentenceInput" placeholder="Ake sanga aduk ufiin."></textarea>
                        <button type="button" onclick="addInput('englishSentencesContainer')">+</button>
                    </div>
            
                    <label for="editedFrenchSentence">French Sentence:</label>
                    <div id="frenchSentencesContainer">
                        <textarea class="frenchSentenceInput" placeholder="Il est allé vers la gauche."></textarea>
                        <button type="button" onclick="addInput('frenchSentencesContainer')">+</button>
                    </div>
            
                    <label for="editedRelatedTerms">Related Terms:</label>
                    <input type="text" id="editedRelatedTerms" value="ufion, ufien">
            
                    <button type="submit">Save</button>
                    <button onclick="closeEditForm()">Close</button>

                </form>
            </div>
        </div>


        {% endblock %}
    </div>

    <div class="img-ah">
        <img src="{{ url_for('static', path='img/navt.png')}}" alt="Background Image" class="background-image">
    </div>

    <footer class="footer">
        <footer class="foter">
            <div class="footer-container">
                <div class="footer-text">
                    <h2>Learning Ibom Languages easy, free, and accessible.</h2>
                </div>

                <div class="register-h">
                    <h3>Register Here</h3>
                </div>

                <input type="email" class="email-input" placeholder="Enter your email">

                <div class="footer-nav">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#volunteer">Volunteer</a></li>
                        <li><a href="#company">Company</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#legal">Legal</a></li>
                    </ul>
                </div>

                <div class="social-icons">
                    <div class="social-icons">
                        <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/twitter.png" alt="linkedin" />
                        </a>
                        <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/linkedin.png" alt="linkedin" />
                        </a>
                        <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/github.png" alt="linkedin" />
                        </a>
                        <a href="#" class="social-icon" target="_blank" rel="noopener noreferrer">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/medium-monogram.png" alt="linkedin" />
                        </a>
                    </div>

                    <div class="copyright">
                        <p>&copy; 2023 iko ibibio. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- <script src="{{ url_for('static', path='/js/script.js') }}"></script>
        <script src="{{ url_for('static', path='/js/search.js') }}"></script>-->
        <script src="{{ url_for('static', path='/js/nav.js') }}"></script>
        <script src="{{ url_for('static', path='/js/edit.js') }}"></script>
        <script src="{{ url_for('static', path='/js/speaker.js') }}"></script>
        <script src="{{ url_for('static', path='/js/newform.js') }}"></script>
        <script src="{{ url_for('static', path='/js/auth.js') }}"></script>
        <script src="{{ url_for('static', path='/js/avatar.js') }}"></script>
        <script src="{{ url_for('static', path='/js/pop.js') }}"></script>
        <script src="{{ url_for('static', path='/js/password.js') }}"></script>







  </main>

</body>
</html>
