{% extends "nav.html" %}

{% block content %}




    <link rel="stylesheet" href="{{ url_for('static', path='/css/sign.css') }}">
  
    <body>

    <div id="registerPopup" class="popup">
        <div class="form-box">
            <form action="/signup" method="post" class="form">
                <span class="title">Sign up</span>
                <span class="subtitle">Create a free account with your email.</span>
                <div class="form-container">
                <input type="ext" class="input" placeholder="Full Name">
                <input type="email" class="input" placeholder="Email">
                <input type="password" class="input" placeholder="Password">
                </div>
                <button>Sign up</button>
            </form>
            <div class="form-section">
            <p>Have an account? <a href="">Log in</a> </p>
            </div>
        </div>
    </div>

    <!-- Login Popup -->
    <div id="loginPopup" class="popup">
        <div class="form-box">
            <form action="/login" method="post" class="form">
                <span class="title">Welcome back</span>
                <span class="subtitle">Sign in to continue</span>
                <div class="form-container">
                <input type="email" class="input" placeholder="Email">
                <input type="password" class="input" placeholder="Password">
                </div>
                <button>Sign in</button>
            </form>
            <div class="form-section">
            <p>Don't have an account?<a href="">Sign up</a> </p>
            </div>
        </div>

    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay"></div>




    <script>
        // Get the popup elements
        const registerPopup = document.getElementById('registerPopup');
        const loginPopup = document.getElementById('loginPopup');
        const overlay = document.getElementById('overlay');
    
        // Get the button elements
        const registerButton = document.getElementById('registerButton');
        const loginButton = document.getElementById('loginButton');
    
        // Function to show the register popup
        function showRegisterPopup() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block';
        }
    
        // Function to show the login popup
        function showLoginPopup() {
            loginPopup.style.display = 'block';
            overlay.style.display = 'block';
        }
    
        // Event listeners for buttons
        registerButton.addEventListener('click', showRegisterPopup);
        loginButton.addEventListener('click', showLoginPopup);
    
        // Close popup when overlay is clicked
        overlay.addEventListener('click', function() {
            registerPopup.style.display = 'none';
            loginPopup.style.display = 'none';
            overlay.style.display = 'none';
        });
    </script>





  </body>
  </html>


{% endblock %}