{% extends "nav.html" %}
{% block content %}



    <!-- Stylesheet -->
    <!DOCTYPE html>
    <!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!----======== CSS ======== -->
        <link rel="stylesheet" href="{{ url_for('static', path='/css/co.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/dash.css') }}">
      
        <!----===== Iconscout CSS ===== -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <title></title>
    </head>

    <body>

      <div class="continer">

        <div class="inner-continer">
            
          <a href="/db/speak" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/fluency-systems-filled/25/voice-recorder.png" alt="voice-recorder"/>
          </a>
          <a href="/db/write" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/material-sharp/25/keyboard.png" alt="keyboard"/>
          </a>
          <a href="/db/suggest" class="bt" title="">
            <img width="25" height="25" src="https://img.icons8.com/external-victoruler-solid-victoruler/25/external-suggestion-business-and-finance-victoruler-solid-victoruler.png" alt=""/>
          </a>
          
        </div>
      </div>

        <div class="carded-ctainer" id="card">
            <p class="record-text">Record in Ibibio</p>
            <span id="counter">0:00</span>
            <canvas id="canvas"></canvas>
            <div class="cards" id="textCard">
                <p id="displayText">You're doing great!</p>
            </div>
            <div class="im-ah">
                <img src="{{ url_for('static', path='img/pod-bgout.png')}}" alt="Background Image" class="im-ah-image">
            </div>
            <!-- Use an icon instead of button text -->
            <button onclick="toggleRecording()">
                <i id="recordIcon" class="fa-solid fa-microphone"></i>
            </button>
            <button onclick="displayRandomText()"><i class="fa-solid fa-cloud-arrow-up"></i></button>
            <audio src="" id="audioElement" controls style="display: none;"></audio>
        </div>


        </div>


    


        <script defer  src="{{ url_for('static', path='/js/api.js') }}"></script>
        <script defer  src="{{ url_for('static', path='/js/dynamic.js') }}"></script>
        <script src="{{ url_for('static', path='/js/dashboard.js') }}"></script>



    </body>
    </html>




{% endblock %}